__pycache__
venv
.env
api_gateway/.env
api_gateway/__init__.py
api_gateway/__main__.py
api_gateway/api_gateway-venv
api_gateway/routers/__init__.py
api_gateway/api-venv

authentication/__init__.py
authentication/__main__.py
authentication/venv-authentication
authentication/routers/__init__.py

auth-venv

blog/__init__.py
blog/__main__.py
blog/venv-blog
blog/routers/__init__.py

alembic.ini
alembic/
alembic/env.py
alembic/versions/
alembic/versions/__init__.py
alembic/versions/README.md
alembic/versions/README.md
alembic/versions/1_initial.py
alembic/versions/2_add_user_table.py
alembic/versions/3_add_blog_table.py
alembic/versions/4_add_blog_user_relation.py                
